.container{
    background-color: rgb(249, 250, 250);
    text-align: center;
    margin-top: 190px;
}
h1{
 font-size: 200%;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 margin: 5px;
}
input{ 
    font-size: 100%;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 background-color: rgb(208, 213, 218);
 margin: 10px;
 border-radius: 5px;
 border: 2px solid transparent;
}
.result{
    font-size: 10%, 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #3f5181;
  color: white;
  padding: 10px 2px;
  margin: 5px 0;
  width: 10%;
  border: 2px solid transparent;
  border-radius: 10px;
}